{% extends "base.html" %}
{% load static %}
{% block title %}About Us - FreshInterns{% endblock title %}
{% block content %}
    <section id="hero">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h1>About Us</h1>
          <div class="our-goal">
            <h3>Our Goal</h3>
            <div>
              <img src={% static "img/goal.jpg" %} class="img-fluid" alt="Our Goal" />
            </div>
            <p>
              lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </div>
    </section>

    <main id="main">
      <section id="team" class="team">
        <div class="container">
          <div class="section-title" data-aos="fade-up" data-aos-delay="200">
            <h2>Team</h2>
            <p>
              Magnam dolores commodi suscipit. Necessitatibus eius consequatur
              ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam
              quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
              Quia fugiat sit in iste officiis commodi quidem hic quas.
            </p>
          </div>

          <div class="row section-members">
            <div class="col-lg-3 col-md-4">
              <div class="member" data-aos="zoom-in">
                <div class="pic">
                  <img src="" class="img-fluid" />
                </div>
                <div class="member-info">
                  <h4>Mohammed Hirani</h4>
                  <span>Title</span>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4">
              <div class="member" data-aos="zoom-in" data-aos-delay="100">
                <div class="pic">
                  <img src="" class="img-fluid" />
                </div>
                <div class="member-info">
                  <h4>Maulik Markan</h4>
                  <span>Title</span>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4">
              <div class="member" data-aos="zoom-in" data-aos-delay="200">
                <div class="pic">
                  <img src="" class="img-fluid" />
                </div>
                <div class="member-info">
                  <h4>Ferick Andrew</h4>
                  <span>Title</span>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4">
              <div class="member" data-aos="zoom-in" data-aos-delay="200">
                <div class="pic">
                  <img src="" class="img-fluid" />
                </div>
                <div class="member-info">
                  <h4>Daniel Bibik</h4>
                  <span>Title</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div
              class="section-subtitle"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <p>
                lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
{% endblock content %}