{% extends "base.html" %}
{% block title %}Resume Form - FreshInterns{% endblock title %}
{% block content %}
    <section id="hero">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h1>Resume Form</h1>
          <p>Lorem ipsum</p>
        </div>
      </div>
    </section>

    <main id="main">
      <section id="resume" class="resume">
        <div class="container">
          <div class="row">
            <div
              class="d-flex align-items-stretch"
              data-aos="fade-up"
              data-aos-delay="100"
              style="width: 100%;"
            >
              <form
                action=""
                method="post"
                role="form"
                style="margin-left: 50%; transform: translateX(-50%);"
              >
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <div class="row">
                      <label for="username" class="col-md-6"
                        >Github username</label
                      >
                      <input
                        type="text"
                        name="username"
                        class="form-control col-md-6"
                        id="username"
                        data-rule="minlen:4"
                      />
                    </div>
                    <div class="validate"></div>
                  </div>
                  <div class="form-group col-md-12">
                    <div class="row">
                      <label for="firstname" class="col-md-6">First name</label>
                      <input
                        type="text"
                        name="firstname"
                        class="form-control col-md-6"
                        id="firstname"
                        data-rule="minlen:4"
                        data-msg="Please enter at least 2 chars"
                      />
                    </div>
                    <div class="validate"></div>
                  </div>
                  <div class="form-group col-md-12">
                    <div class="row">
                      <label for="secondname" class="col-md-6"
                        >Second name</label
                      >
                      <input
                        type="text"
                        name="secondname"
                        class="form-control col-md-6"
                        id="secondname"
                        data-rule="minlen:4"
                        data-msg="Please enter at least 2 chars"
                      />
                    </div>
                    <div class="validate"></div>
                  </div>
                  <div class="form-group col-md-12">
                    <div class="row">
                      <label for="role" class="col-md-6">Role</label>
                      <select class="dropdown">
                        <option value="">Select Role ...</option>
                        <option value="Data Scientist">Data Scientist</option>
                        <option value="Backend Developer"
                          >Backend Developer</option
                        >
                        <option value="Frontend Developer"
                          >Frontend Developer</option
                        >
                        <option value="FullStack Developer"
                          >FullStack Developer</option
                        >
                        <option value="Quality Assurance"
                          >Quality Assurance</option
                        >
                        <option value="DB Administrator"
                          >DB Administrator</option
                        >
                        <option value="DevOps">DevOps</option>
                        <option value="Data Analyst">Data Analyst</option>
                        <option value="Data Scientist">Data Scientist</option>
                        <option value="Big Data Engineer"
                          >Big Data Engineer</option
                        >
                        <option value="Blockchain Developer"
                          >Blockchain Developer</option
                        >
                        <option value="Software Architect"
                          >Software Architect</option
                        >
                        <option value="Penetration Tester"
                          >Penetration Tester</option
                        >
                        <option value="Security Engineer"
                          >Security Engineer</option
                        >
                      </select>
                    </div>
                    <div class="validate"></div>
                  </div>
                  <div class="form-group col-md-12">
                    <div class="row">
                      <label for="name" class="col-md-6">Email</label>
                      <input
                        type="email"
                        class="form-control col-md-6"
                        name="email"
                        id="email"
                        data-rule="email"
                        data-msg="Please enter a valid email"
                      />
                    </div>
                    <div class="validate"></div>
                  </div>
                  <div class="form-group col-md-12">
                    <div class="row">
                      <label for="phone" class="col-md-6">Phone</label>
                      <input
                        type="text"
                        class="form-control col-md-6"
                        name="phone"
                        id="phone"
                        data-rule="minlen:4"
                      />
                    </div>
                    <div class="validate"></div>
                  </div>
                </div>
                <!-- <div class="mb-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">
                    Your message has been sent. Thank you!
                  </div>
                </div> -->
                <div class="text-center">
                  <button type="submit" class="btn">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
{% endblock content %}